td, th, table{
    padding: 2vw;
    border-collapse: separate;
    padding: 10px;
    border-spacing: 15px;
}

table{
width: 70%;
height: 30.0rem;
}

div.parent{
    position: relative;
    margin: 10px;
    border: 6px solid red;
}

div.tablecontainer {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}