body{
    width:100vw;
    overflow-x: hidden;
}

#img1{
    width: 100vw;
}

#img1 img{
margin-left: 24vw;
}
    
#mvd{
margin-top: -59.5vw;
    margin-left: 37vw;
}

#date{
    margin-top: 6vw;
    margin-left: 33vw;
}

#code{
margin-top: -3.7vw;
    margin-left: 55vw;
}

#surname1{
    margin-top: 20.5vw;
    margin-left: 47vw;
}

#name1{
    margin-top: 3vw;
    margin-left: 47vw;
}

#name2{
    margin-top: -12vw;
    margin-left: 47vw;
}

#year1{
margin-top: 3vw;
    margin-left: 52vw;
}

#sex{
    margin-top: -3.5vw;
    margin-left: 42vw;
}

#city{
    margin-top: -1.3vw;
    margin-left: 48vw;
}

#face{
    width: 13%;
    margin-left: 26vw;
    margin-top: -14vw;
}

#signature{
    width: 26%;
    margin-left: 51vw;
    margin-top: -48vw;
}

#for_click{
position: absolute;
            display: inline-block;
            padding: 1.1vw 2vw;
            background: linear-gradient(45deg, #fe3434, #7a0000);
            color: white;
            border: none;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.4s ease;
            box-shadow: 0 5px 15px rgba(255, 107, 107, 0.4);
}


p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7vw;
}

#screenshot{
    width: 55%;
    margin-top: 22vw;
    margin-left: 2vw;

}